@import "site";
@import "typography";
@import "digital";
@import "why";

body {
  background: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: nhlight;
  src: url(../fonts/NHLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: nhmed;
  src: url(../fonts/NHMedium.ttf);
  font-weight: 300;
}
