---
title: Fold Digitally
---

<div class="digital-fold">




  <div class="left">
    <div class="container">
      <div class="text-area">
        <h1 class="t-title white">welcome to fold</h1>
        <p class="t-body white">Fold your phone</p>
      </div>
    </div>
  </div>

  
  <div class="right">
    <div class="container">

      <div class="right-content" id="intro">
        <div class="text-area">
          <p class="t-body white">step one</p>
        </div>
      </div>

      <div class="right-content" id="stepOne">
        <div class="text-area">
          <p class="t-body white">step two</p>
        </div>
      </div>

      <div class="right-content" id="stepTwo">
        <div class="text-area">
          <p class="t-body white">step three</p>
        </div>
      </div>

    </div>
  </div>






<div class="block no-padding" style="padding-bottom: 0px;">
      <p class="t-large white body-copy">
        Before moving on. I want to acknowledge that folding a smartphone might not be for everyone.
      </p>
    </div>

    <div class="row" style="padding-top: 50px;">
      <div class="columns six" style="padding-right: 50px;">
        <p class="gray t-smaller">If you don't <span class="white">feel</span> addicted to your phone and you are happy with how you are using it, this lifestyle might not be for you.</p>
      </div>
      <div class="columns six" style="padding-right: 50px;">
        <p class="gray t-smaller">Furthermore, folding your phone is not a <span class="white">"get rich quick"</span> type of scheme. By following the steps of this method, it's not a easy cop out way for you to be happier. Only what you put into it is what you get out of it.</p>
      </div>
    </div>

    
</div>


<script>
  $(document).ready(function() {
    $('.right-content').css('height', window.innerHeight);

    $(window).resize(function() {
      $('.right-content').css('height', window.innerHeight);      
    });

    // Offset scroll settings
    var step_one_offset = $("#stepOne").offset().top;
    var step_two_offset = $("#stepTwo").offset().top;
    var $w = $(window).scroll(function(){
        if ( $w.scrollTop() > step_one_offset && $w.scrollTop() < step_one_offset ) {   
            console.log('step1');
        } else if ($w.scrollTop() > step_two_offset){
          console.log('step 2')
        }
    });
  });

</script>


















